<div id="container">
	<div id="info">
  <div id="img">
    <img src="./assets/sanjog.jpg" height="100%" width="100%" />
  </div>
  <div id="design">HI, MY NAME IS</div>
  <div id="design2">SABU DHUNGANA</div>
</div>
<div id="content">
  <div class="section">
    <div class="content">s
      <div class="innerc">
        <div id="aroundimg">
          <img id="whoami" src="https://i.imgur.com/K6WlSXb.png" />
          <div id="scndImg" class="animate"></div>
        </div>
        
    <div id="Title">Who am i?</div>
        <p>I am an educator at Euro Kids, Chhauni. I educate young and creative minds and in the process
        gain an opportunity to keep alive my creative side. Educating children has become my passion. Not only
        do I get to educate children I get to become their friend and their role model. In the process of educating young minds, I have gained the opportunity to explore my creativity and keep alive my curiosity.

        I feel proud to be an educator, and moreover, I feel proud to play part in development and nurture of
        the future leaders.</p>
        <div style="clear:both"></div>
      </div>
    </div>
  </div>
</div>
</div>

